@font-face {
    font-family: regular;
    src: url("../assets/fonts/Webfont Kit/Regular/aleo-regular-webfont.ttf") format("opentype");
}
::-webkit-scrollbar {
  display: none;
}
li{
  list-style-type: none;
  margin-left: 10px;
}
.center{
  text-align: center;
}
.content{
  padding:20px 0px 20px 0px;
  margin: 20px 0px 20px 0px;
  background-color: rgba(255, 255, 255, .9);
  text-align: center;
}
.content a{
  color: black;
  text-decoration: underline;
}
.description{
  padding: none;
}
.first-section{
  margin: 200px 0px 200px 0px;

}
.fixed{
  background-image: url("images/coast.jpeg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -2;
  filter: grayscale(1);
}
.footer{
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  color: white;

}
.footer-text{
  color: black;
}

.footer-img{
  margin-left: 35px;
  height: 25px;
  width: 25px;
}
.headers{
  text-align: center;
  font-size: 50px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 50px;
}
.images{
  height: 250px;
  width: 420px;
  margin: 0 auto;
}
.images:hover{
  cursor: pointer;
}
.list{
  font-size: 18px;
  padding: 0px 50px 20px 50px;
  text-align: left;
}
.nav-bar{
  height: 50px;
  text-align: right;
  font-weight: bold;
  width: 100%;
  color: black;
}
.nav-bar p{
  display: inline-block;
  padding-left: 2vw;
  padding-top: 1.5vh;
}
.nav-bar a{
  color: black;
}
.pop{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.projects{
  text-align: center;
  box-shadow: 4px 4px 20px 1px #888888;
  height: 370px;
  width: 420px;
  margin: 10px 10px 20px 10px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}
.projects p{
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
}
.sub-headers{
  padding: 0px 0px 0px 15px;
  text-align: left;
  font-weight: bold;
}
.sub-headers a{
  text-decoration: none;
}
.whole{
  font-family: regular;
}
#aboutme{
  padding: 20px 0px 20px 0px;
}
#aboutme p{
  font-size: 20px;
  padding: 0px 50px 20px 50px;
  text-align: left;
}
#email{
  margin-left: 10px
}
#in-nav{
  font-size: 12px;
}
#mm:hover{
  cursor: auto;
}
#myPic{
  float: left;
  height: 500px;
  width: 370px;
  padding: 5px 10px 0px 10px;
}
#name{
  text-align: center;
}
#name h1{
  font-size: 60px;
  font-style: bold;
  color: black;
}
#nav-first{
  margin-left: 1vw;
  padding-top: 15px;
}
#nav-second{
  padding-top: 15px;

}
#nav-third{
  margin-right: 8vw;
  padding-top: 15px;
}

@media only screen
  and (min-device-width: 1600px)
  and (max-device-width: 3000px) {

    .projects{
      margin: 10px 30px 20px 30px;
    }
  }
