@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@font-face {
    font-family: regular;
    src: url("assets/SF-UI-Display-Regular.otf") format("opentype");
}
::-webkit-scrollbar {
  display: none;
}
li{
  list-style-type: none;
  margin-left: 10px;
}
.whole{
  font-family: regular;
}
.center{
  text-align: center;
}
.content{
  margin: 100px 50px 100px 50px;
  background-color: rgba(247, 247, 247, .82);
  box-shadow: 4px 6px 40px 2px #888888;
}
.content a{
  color: black;
  text-decoration: underline;
}
.content p{
  font-size: 20px;
  padding: 0px 50px 20px 50px;
  text-align: left;
}
.first-section{
  height: 74vh;
  width: 100vw;
}
.fixed{
  background-image: url("images/coast.jpeg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -2;
  filter: grayscale(1);
}
.footer{
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  color: white;
  /*background-color: rgba(0, 0, 0, .7);*/

}
.footer-text{
  color: black;
}

.footer-img{
  margin-left: 35px;
  height: 50px;
  width: 50px;
}
.headers{
  text-align: center;
  font-size: 50px;
  padding: 20px 20px 20px 20px;
}
.images{
  height: 200px;
  width: 400px;
  margin: 0 auto;
}
.images:hover{
  cursor: pointer;
}
.list{
  font-size: 18px;
  padding: 0px 50px 20px 50px;
  text-align: left;
}
.nav-bar{
  height: 50px;
  position: fixed;
  text-align: right;
  font-weight: bold;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, .7);
}
.nav-bar p{
  display: inline-block;
  padding-left: 2vw;
  padding-top: 1.5vh;
}
.nav-bar a{
  color: white;
}
.pop{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.sub-headers{
  padding: 0px 0px 0px 50px;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}
#email{
  margin-left: 10px
}
#full-name{
  font-size: 24px;
  margin-right: 12px;
}
#in-nav{
  font-size: 12px;
}
#name{
  padding-top: 8px;
  font-size: 1.3em;
  float: left;
}
#nav-first{
  margin-left: 1vw;
  padding-top: 15px;
}
#nav-second{
  padding-top: 15px;

}
#nav-third{
  margin-right: 8vw;
  padding-top: 15px;
}
